.navbar {
    display: flex;
    align-items: center;
    justify-content:  space-between;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    min-width: 1200px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}
.navLinks {
    display: flex;
    gap: 15px;
    align-items: end;
}
